{% extends 'base.html.twig' %}

{% block title %}Détails du post{% endblock %}

{% block body %}
    <div class="container">
        <div class="card my-4">
            {% if post.image %}
                <div class="text-center">
                    <img src="{{ asset('images/blog_directory/' ~ post.image) }}" class="card-img-top" alt="Image du post">
                </div>
            {% endif %}
            <div class="card-body">
                <h2 class="card-title text-center"> <!-- Ajout de la classe text-center -->
                    {{ post.titre }}
                </h2>
                <p class="card-text text-center"> <!-- Ajout de la classe text-center -->
                    {{ post.contenu }}
                </p>
                <p class="card-text text-center">
                    <strong>Date :</strong> {{ post.date|date('d/m/Y') }}<br>
                    <strong>Auteur :</strong> {{ post.autheur }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
