{# templates/menu/index.html.twig #}

{% extends 'base.html.twig' %}
{% block title %}Menu{% endblock %}
{% block body %}
<h1>Menu</h1>
<h2>Entrées</h2>
{% for plats in entrees %}
    <div>{{ plats.nom }} - {{ plats.prix }} €</div>
{% endfor %}

<h2>Plats principaux</h2>
{% for plats in plats %}
    <div>{{ plats.nom }} - {{ plats.prix }} €</div>
{% endfor %}

<h2>Desserts</h2>
{% for plats in desserts %}
    <div>{{ plats.nom }} - {{ plats.prix }} €</div>
{% endfor %}
{% endblock %}

