{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="container">
        <div class="menu text-center">
            {% if imageMenu.image %}
                <img src="{{ asset('images/menu_directory/' ~ imageMenu.image) }}" alt="Dernière image" class="menu-image" style="max-width: 300px; height: auto;">
            {% endif %}
            <h1 class="menu-title">Menu du jour</h1>
            <p>Menu (entrée + plat + dessert): 20.00 €</p>
            <p>Formule (entrée + plat ou plat + dessert): 17.00 €</p>
            <hr class="menu-divider">

            <div class="menu-section">
                <h2 class="menu-section-title">Entrées :</h2>
                <ul class="menu-items">
                    {% for entree in menu.entrees %}
                        <li class="menu-item">
                             {{ entree.nom }}
                        </li>
                    {% else %}
                        <li class="menu-item">Aucune entrée disponible pour le moment.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu-section">
                <h2 class="menu-section-title">Plats :</h2>
                <ul class="menu-items">
                    {% for plat in menu.plats %}
                        <li class="menu-item">
                             {{ plat.nom }}
                        </li>
                    {% else %}
                        <li class="menu-item">Aucun plat disponible pour le moment.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu-section">
                <h2 class="menu-section-title">Desserts :</h2>
                <ul class="menu-items">
                    {% for dessert in menu.desserts %}
                        <li class="menu-item">
                             {{ dessert.nom }}
                        </li>
                    {% else %}
                        <li class="menu-item">Aucun dessert disponible pour le moment.</li>
                    {% endfor %}
                </ul>
            </div>
            <p>Prix exprimés en euros, TTC,hors boissons, service compris. Tous nos plats sont fait maison,
             à partir de produits frais et de saison. La liste des allergènes susceptibles d'être ajoutés à
              nos plats est disponble à la réception.</p>
            <p>*l'abus d'alcool est dangereux pour la santé, sachez consommer avec modération.</p>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_menu_generate-pdf') }}" class="btn btn-success">Générer PDF</a>
    {% endif %}


{% endblock %}